@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#bg {
  height: 100%;
  width: 100%;
  background-image: url(image.png);
  background-size: cover;
}
h1 {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: buttermilk;
  font-weight: 100;
  font-size: 190px;
  mix-blend-mode: difference;
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
}
